<h1>Terms</h1>
<p>
<% @terms.each do |term| %>
<%= link_to term.name, term_path(term), method: :get %><br>
<% end %>
<!--- <%= link_to "Back to Your Page", :back %> --->
<%= button_to "Back to Your Page", :back, method: :get %>
</p>