<h2>All Languages</h2>
<p>
<% @languages.each do |language| %>
<%= link_to language.name, language_path(language) %><br>
<% end %>


<!--- <%= link_to "Back to Your Page", :back %>
<%= button_to "Back", :back, method: :get %> don't need a back button--->
<%= button_to "My Profile", user_path(@user), method: :get %>
</p>



