<h1><%= @language.name %></h1>
<br>
<br>
<%= button_to "Add to Favorites", favorite_language_path(@language, type: "favorite"), method: :put %>
<br>
<%= button_to "All Languages", languages_path, method: :get %>
