<h1>Languages#show</h1>
<p>Find me in app/views/languages/show.html.erb</p>
<%= @language.name %>
<br>
<br>
<%= button_to "Add to Favorites", favorite_language_path(@language), method: :put %>
<br>
<%= button_to "All Languages", languages_path, method: :get %>
