<h2><%= @user.name %>'s CodeDictionary</h2>
<p>
<% @user.terms.each do |term| %>
<%= link_to term.name, term_path(term), method: :get %><br>
<%= term.content %><br><br>
<% end %>
<%= button_to "My Profile", user_path(@user), method: :get %>